@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');


/*resetting css*/
/* variables.css */
:root {
    /* colors */
    --primary-dark-color: #F3D0D7;
    --primary-color: #FFEFEF;
    --primary-grayish-color: #00000014;
    --accent-color: hwb(314 13% 4%);
    --text-color: #fbfafc;
    --text-dark-color: #352c37;
    --background-color: #F7E7DC;
    /* fonts */
    --font-family: "Crimson Text", serif;
    --font-family-sub: "Abril Fatface", serif;
    --base-font-size: 18px;
    --min-font-size: 12px;
    --border-big-radius: 32px;
    --border-radius: 20px;

    /*animation*/
    --transition: .3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    text-align: left;
    font-size: clamp(var(--min-font-size), 2vw, var(--base-font-size));
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: clamp(1rem, 2vw, 2rem);
}

header {
    max-height: 128px;
}
header h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: var(--text-dark-color);
    background-color: var(--primary-color);
    border-radius: var(--border-big-radius);
    text-align: center;
    padding: clamp(0.6rem, 2vw, 1.3rem);
}

button {
    display: flex;
    align-items: center;
    gap: clamp(4px, 2vw, 8px);
    border: none;
    background-color: transparent;
    font-family: var(--font-family-sub);
    font-size: clamp(14px, 2vw, 16px);
    line-height: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
    letter-spacing: 0.05rem;
    @media (max-width: 500px) {
        font-size: 12px;
        padding: clamp(0.25rem, 2vw, 0.5rem);
    }
}

li {
    list-style-type: none;
}

svg:not(:root) {
  overflow: visible;
}

svg {
    width: 10px ;
    height: 1rem;
    transition: var(--transition);

}

.rotate {
    transform: rotate(180deg);
}

.active {
    color: var(--text-dark-color);
}