.bookListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--border-radius);
    padding: clamp(1rem, 2vw, 2rem);
    background: white;
    border-radius: var(--border-radius);
    letter-spacing: 0.15rem;
    animation: metallic-move 5s linear infinite;
    background-size: 200% 200%;
}
.bookList {
    display: flex;
    flex-direction: column;
    gap: var(--border-radius);
    max-height: 946px;
}

.total {
    font-size: var(--border-radius);
    color: var(--text-dark-color);
}

@keyframes metallic-move {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

